<h1 class="text-center mt-5">Monday Offer</h1>
<div style="background-color: #f0f0f0; width: 40%; margin-left: auto;margin-right: auto; margin-top: 20px;">
    <ul>
        <li>Offer Valid on Monday only</li>
        <li>The offer is valid from 11 am to 11 pm</li>
        <li>Unlimited Veg Pizzas and unlimited Pepsi @ 249
        <li>Offer valid for in-store consumption only</li> 
        <li>Take Away & Delivery not allowed</li>   
        <li>Limited Time Offer</li>
        <li>Unlimited Non -Veg Pizzas and unlimited Pepsi @ 299</li>
        <li>Taxes applicable</li>
        <li>Offer Valid on select medium pizzas</li>
        <li>Country Feast & Veggie Feast for Veg.</li>
        <li>Chicken Sausage & Chicken Meatball for Non-Veg.</li>
        <li>The deal is non-shareable i.e. one UPF deal can be consumed by one guest only</li>

    </ul>
    
</div>

