<h1 class="text-center">Offers</h1>

<div class="card bg-dark text-white" routerLink="monday">
    <h1>Monday Offer!</h1>
    <img src="https://i.pinimg.com/originals/95/36/ee/9536ee447a85031423fec4aae74ed8ae.jpg" height="600px" class="card-img" alt="...">
    <div class="card-img-overlay">
  
  </div>
  </div>
  <br><br><br>


  <div class="card bg-dark text-white" routerLink="friday">
      <h1>Friday Offer</h1>
    <img src="https://i.gadgets360cdn.com/large/Pizza-Hut-Friday_1547549321816.jpg" height="600px" class="card-img" alt="...">
    <div class="card-img-overlay">
  
  </div>
  </div>

  <br><br><br>
  <div class="card bg-dark text-white" routerLink="one">
        <h1>One+One Offer</h1>

    <img src="https://api.pizzahut.io/v1/content/en-in/in-1/images/deal/bogo-delivery.dacaaae121478322020300d19e885daa.1.jpg" height="600px"  class="card-img" alt="...">
    <div class="card-img-overlay">
  
  </div>
  </div>








  